# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Flask instance / local db temp files
instance/

# Environment secrets
.env

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# SQLite optional (ignore only if you do NOT want local DB uploaded)
*.db
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Build artifacts
dist/
build/